<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        .main{
            display: flex;
        }
        
    </style>
  </head>
  <body>
    <div class="master">
    {% for k in data.products %}
    
    <div class="main" style="height: 200px; width:250px;">
    <h1>{{k.title}}</h1>
    {% for i in k.images %}
    <img src="{{ i }}" alt="image"  style="height: 100px; width: 100px; "/>
    {% endfor %}
    </div>
   
     {% endfor %}
    </div>
  </body>
</html>
